# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
/.idea
*.iml

# Node
client/node_modules/
server/node_modules/
node_modules/
backend/.gradle/
backend/build/
frontend/node_modules/
frontend/dist/
# Keep package-lock files to ensure deterministic installs
client/package-lock.json
server/package-lock.json

# SSH keys
*.pem
.mvn/settings.xml
key.pem

# System
.DS_Store
Thumbs.db
